html, body {
    height: 100%;
    width: 100%;
    font-family:  sens-serif;
}

 .navbar {
    padding: .8rem;
} 

.navbar-nav li {
    padding-right: 20px;
}
 .nav-link {
    font-size: 1.1em !important;
} 
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
}

.carousel-caption  h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;

}

.carousel-caption  p {
    font-size: 150%;
    font-weight: 500;
    text-shadow: 1px 1px 10px black;
    text-shadow: 1px 1px 10px black;
    padding-bottom: 1rem; 

}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.padding {
    padding-bottom: 2rem;
}
.social a {
    font-size:  4.5em;
    padding: 3rem;
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #00aced;
}
.fa-instagram {
    color: #4E433C;
}
.fa-youtube {
    color: #bb0000;
} 
.fa-linkedin {
    color: #4875B4;
}